/* Gaya utama container */
.container {
  padding: 20px;
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
}

.header {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.table th {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  padding: 15px;
  text-align: left;
}

.table td {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.table tr:hover {
  background-color: #f1f1f1;
}

.navPanel {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.navButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.navButton:hover {
  transform: scale(1.05);
  background-color: #e9e9e9;
}

.navButton img {
  width: 50%;
  height: auto;
}

.navButtonLabel {
  margin-top: 8px;
  font-size: 14px;
  color: #333;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: row; /* Membuat elemen memanjang horizontal dari kiri ke kanan */
  justify-content: flex-start; /* Posisi elemen mulai dari kiri */
  padding: 10px;
  margin: 0;
  list-style: none; /* Menghilangkan bullet jika menggunakan elemen <ul> */
}

.menuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  height: 40px;
  margin-right: 10px; /* Jarak antar elemen */
  border: 2px solid transparent; /* Default border transparan */
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333; /* Warna teks */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.menuItem:hover {
  transform: scale(1.05); /* Efek hover memperbesar sedikit */
}

.menuItem:nth-child(1) {
  border-color: #2ecc71;
  /* Warna hijau untuk Penyakit */
}

.menuItem:nth-child(2) {
  border-color: #e74c3c; /* Warna merah untuk Obat */
  /* Tulisan menjadi putih */
}

.menuItem:nth-child(3) {
  border-color: #3498db; /* Warna biru untuk Alat */
}

.menuItem:nth-child(4) {
  border-color: #9b59b6; /* Warna ungu untuk Apotek */
}

.menuItem:nth-child(5) {
  border-color: #f1c40f; /* Warna kuning untuk Home */
}
.menuItem:nth-child(6) {
  background-color: #13b7c9;
  color: white; /* Warna kuning untuk Home */
}

.chatContainer {
  display: flex;
  flex-direction: row;
}

.chatListContainer {
  width: 40%;
  padding-right: 20px;
}

.separator {
  width: 1px;
  background-color: #ddd;
  margin: 0 20px;
}

.chatSection {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.messagesContainer {
  flex: 1;
  overflow-y: auto;
  max-height: 400px; /* Adjust the height as needed */
  margin-bottom: 20px;
}

.adminMessage,
.userMessage {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  max-width: 60%;
  word-wrap: break-word;
}

.adminMessage {
  background-color: #007bff;
  color: white;
  align-self: flex-end;
}

.userMessage {
  background-color: #f1f1f1;
  color: #333;
  align-self: flex-start;
}

.inputContainer {
  display: flex;
  align-items: center;
}

.input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.sendButton {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sendButton:hover {
  background-color: #0056b3;
}

.noChatSelected {
  font-size: 18px;
  color: #888;
  text-align: center;
  margin-top: 50px;
}

.horizontalLine {
  border: none;
  border-top: 1px solid #ddd;
  margin: 0 20px;
}
